@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.About{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
}
.maintext{
    color: rgb(248,181, 0);
font-family:"Roboto";
font-size: 45px;
font-weight: 550;
line-height: 48px;
text-align: left;
padding-top: 115px;
padding-left: 195px;
height: fit-content;
width: fit-content;


}
.img img{
    padding-top: 115px;
    height: 300px;
    rotate: -30deg;
    translate: 100px;
    /* width: 500px; */
    border-radius: 0px;
}
.smalltext{
    font-size: large;
padding-top: 25px;
padding-left: 195px;
height: fit-content;
width: fit-content;
color: rgb(248,181, 0);
font-family: "Roboto";
font-weight: 500;

}
#About-button{
    height: 44px;
    width: 362px;
    border: 0px;
    border-radius: 20px;
    padding: 8px;
    background-color: rgb(57, 55, 55);
    color: rgb(248,181, 0);


}
.button{
    padding-left: 195px;
    padding-top: 25px;
    margin-bottom: 100px;
}