.footerdiv {
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* position: fixed;     */
    bottom: 0;
    left: 0;
    margin-top: 50px;
    margin-bottom: 0px;
    background-color: rgb(248,181, 0);
    height: 3rem;
    width: 100%;
    /* padding: 1rem; */
    z-index: -1;
    color: black;
}

.github {
    height: 1.5rem;
}

.twt {
    height: 1.5rem;
}

.innerfooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; /* Center items vertically */
    height: 100%; 
}

.inner {
    display: flex;
    margin: 0 0.8rem;
}

img {
    padding: 0 0.8rem;
}
#madeby{
    padding-top: 0.1rem;
}